@CHARSET "UTF-8";
#header li a {
	margin: 0 0 0 6px;
	padding-top: 10px;
}
#nav a { 
	background-image: url("/sites/default/themes/devtrack_theme/images/menu_bkgd.gif");
	background-repeat: repeat-x;
	/*background-color: #cc9999;*/
	margin: -20px 0 0 0;
	/*padding: 15px 10px;*/
	line-height: 20px;
	height: 30px;
}
#nav li a{
	margin: 0;
}
button,
.form-submit,
input a.form-button-cancel, 
.node-form a.openlayers-cck-hide-link {
	background-image: url("/sites/default/themes/devtrack_theme/images/input_btn.gif");
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #000;
	border: #f2f2f2 solid 1px;
}

button:hover,
.form-submit:hover,
input a.form-button-cancel:hover, 
.node-form a.openlayers-cck-hide-link:hover,
span.form-submit a:hover  {
  color: #CCCCCC;
  text-decoration: none;
}
span.form-submit {
	padding: 3px 5px;
	text-align: center;
	font-style: normal;
	clear: right;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 5px;
}
span.form-submit a{
	color: #FFF;
}
#footermenubar {
	background-color:#000 !important;	
	background-image: url("/sites/default/themes/devtrack_theme/images/footermap_bkgd.jpg");
	display: inline-block;
}
#footermenubar ul li, #footermenubar li{
	list-style: none;
	list-style-image: none;
}
#footer-message {
	margin-top:-27px;
}

.page-user .description {
	margin-top: 10px;
} 

.tabsaslist .tabs li {
	list-style-image: url("/sites/default/themes/devtrack_theme/images/listimage.gif");
	list-style-position: outside;
	line-height: 0px;
	/*font-size: 10px;*/
}
.tabsaslist .tabs li.active {
	list-style-image: url("/sites/default/themes/devtrack_theme/images/listimage_active.gif");
}
.tabsaslist .tabs li a{
	margin-top: -22px;
	height: 40px;
}
.col-content_contentlayerleft .tabsaslist ul.primary{
	margin-top: 20px;
}
